<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav-header">
      <a [routerLink]="['plato']" class="navbar-brand">MeseroApp</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/plato">Platos</a></li>
        <li><a routerLink="/consumo">Pedido</a></li>
        <li><a routerLink="/consulta">Consultas</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <li class="dropdown" appCombobox>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Configuración<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['tienda']" routerLinkActive="active">Mi Perfil</a></li>
            <li><a style="cursor: pointer" (click)="cerrarSesion()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</div>
