<div class="row" *ngIf="tienda">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{tienda.nombre}}</h1>
    </div>
  </div>
  <div class="col-xs-12">
    <img [src]="tienda.fotoUrl" alt="{{tienda.nombre}}" class="img-responsive"
      style="max-height: 200px; max-width: 400px">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p style="word-wrap: break-word;">{{tienda.direccion}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="editarTienda()">Editar</button>
      <button type="button" class="btn btn-danger" routerLink="/plato">Cancelar</button>
    </div>
  </div>
</div>
